@import "config";
@import "utilites";
@import "button";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  list-style: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.showcase {
  background-color: $primary-color;
  border-radius: 100px 0 100px 0;
  color: #fff;
  height: 600px;

  .logo {
    font-size: 35px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style: none;

      li {
        padding: 15px;
        font-size: 20px;

        a:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
  }
  h1 {
    font-size: 50px;
    line-height: 1.2;
  }

  p {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
